@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  hr {
    border: none;
  }
}
@layer components {
  .mute_color {
    @apply text-gray-400;
  }
  .input_style {
    @apply px-6 py-3 w-full rounded-xl outline-none text-slate-500;
  }
  .hero_menu {
    @apply list-none text-white flex lg:space-x-4 md:space-x-4 lg:justify-end lg:flex-row md:flex-row lg:space-y-0 md:space-y-0 lg:pr-3 md:pr-3 md:justify-end justify-center py-3 space-x-6;
  }
  .header_title {
    @apply lg:text-4xl text-2xl text-center text-slate-100;
  }
  .popular_card {
    @apply grid lg:grid-cols-3 grid-cols-1 gap-10;
  }
}
@layer utilities {
  .bg_color {
    background-color: #082923;
  }
  .bg_input {
    background-color: #48645f;
  }
  .bg_btn {
    background-color: #fc6f2f;
  }
  .text_color {
    color: #fc6f2f;
  }
  .hr {
    border-top: 0.2rem solid rgb(105, 103, 103);
  }
  .course_card {
    border-radius: 0px 0px 15px 15px;
  }
  .img_top_rounded {
    border-radius: 15px 15px 0 0;
  }
  .bg_red {
    background-color: #d8231b;
  }
  .logo_style {
    width: 80px;
  }
  .wid {
    width: 200px;
  }
}
